{% extends "./layout.html" %}

{% set bodyId = "page-ideas" %}

{% block title %}
   <title>Ideias - Casa Criativa</title>
{% endblock title %}

{% block content %}

   <header>
      <a href="/">
         <img src="./images/logo.png" alt="Logo da Casa Criativa">
      </a>
      <nav>
         <a href="/">Ínicio</a>
         <a class="button" onclick="toggleModal()" href="#">Nova Ideia</a>
      </nav>
   </header>

   <section id="title">
      <p>em exibição</p>
      <h1>Ideias</h1>
   </section>

   <main>
      <section id="ideas">
         {% for idea in ideas %}

         <div class="idea">
            <img 
               src="{{idea.image}}" 
               alt="Imagem de {{idea.title}}"
            >

            <div class="content">
               <h3>{{idea.title}}</h3>
               <p>{{idea.category}}</p>
               <div class="description">
                  {{idea.description}}
               </div>
               <a href="{{idea.link}}" target="_blank">Ir para a ideia</a>
            </div>
         </div>

         {% endfor %}
      </section>
   </main>

   <footer>
      Com ❤ <a href="https://rocketseat.com.br" target="_blank">Rocketseat</a>
   </footer>

{% endblock %}
