{% extends "./layout.html" %}

{% set bodyId = "page-ideas" %}

{% block title %}
   <title>Ideias - Casa Criativa</title>
{% endblock title %}

{% block content %}

   <header>
      <a href="/">
         <img src="./images/logo.png" alt="Logo da Casa Criativa">
      </a>
      <nav>
         <a href="/">Ínicio</a>
         <a class="button" onclick="toggleModal()" href="#">Nova Ideia</a>
      </nav>
   </header>

   <section id="title">
      <p>em exibição</p>
      <h1>Ideias</h1>
   </section>

   <main>
      <section id="ideas">
         {% include "eachIdea.html" %}
      </section>
   </main>

   <footer>
      Com ❤ <a href="http://github.com/sambuite/" target="_blank">Murilo Sambuite</a>
   </footer>

{% endblock %}
